@media (min-width: 850px) {
  .container {
    padding: 1rem;
  }

  .main {
    width: 87vw;
  }

  .home {
    height: 98vh !important;
    gap: 2rem;
    padding: 2rem;
  }

  .banner {
    font-size: 4vw !important;
  }

  .info {
    font-size: 10vw !important;
    margin-top: 0rem !important;
  }

  .arrow {
    display: none;
  }

  .desg {
    position: static !important;
    font-size: 3vw !important;
  }

  .name {
    text-shadow: 3px 3px 0 hsl(0, 0%, 0%), 6px 6px 0 hsl(0, 0%, 0%),
      9px 9px hsl(0, 0%, 0%), 12px 12px 0 hsl(0, 0%, 0%);
  }

  .altDesg {
    text-shadow: 3px 3px 0 hsl(0, 0%, 0%), 6px 6px 0 hsl(0, 0%, 0%),
      9px 9px hsl(0, 0%, 0%);
  }

  .altName {
    text-shadow: 3px 3px 0 hsl(0, 0%, 0%), 6px 6px 0 hsl(0, 0%, 0%),
      9px 9px hsl(0, 0%, 0%);
  }

  .heading {
    font-size: 6rem !important;
    width: 100%;
    padding-left: 3rem;
    text-shadow: 3px 3px 0 hsl(0, 0%, 0%), 6px 6px 0 hsl(0, 0%, 0%),
      9px 9px hsl(0, 0%, 0%);
  }
}

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner {
  font-family: "Jetbrains Mono", monospace;
  font-size: 3rem;
  font-weight: 900;
}

.info {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.name {
  color: hsl(195, 73%, 59%);

  font-weight: 900;
}

.altDesg {
  color: hsl(0, 89%, 66%);

  font-weight: 900;
}

.altDesg > div {
  display: inline-block;
}

.desg {
  position: absolute;
  bottom: 15%;
  font-size: 2rem;
  font-weight: 500;
}

.arrow {
  position: absolute;
  bottom: 1rem;
  background-repeat: no-repeat;
  font-size: 2rem;
  animation: blink 0.5s ease 0s infinite alternate;
  transition: all 0.3s ease-in-out;
}

.arrow > * {
  transition: all 0.3s ease-in-out;
}

@keyframes blink {
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-20%);
  }
}

.timeline {
  padding: 2rem;
  width: 100%;
}

.journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
  font-family: "Jetbrains Mono", monospace;
  margin: 4rem 1rem;
}
