@media (min-width: 850px) {
  .container {
    min-height: 100vh;
  }

  .skill {
    grid-template-columns: repeat(3, 1fr) !important;
    padding: 1rem;
    column-gap: 2rem !important;
    row-gap: 2rem !important;
  }

  .main {
    width: 87vw;
  }

  .card:hover {
    box-shadow: -10px -10px hsl(220, 12%, 20%);
    transform: translate3d(10px, 10px, 10px);
    background-color: hsl(220, 12%, 35%);
  }

  .name {
    font-size: 2rem !important;
  }

  .altContainer:first-child:hover .addName {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 1265px) {
  .container {
    padding: 1rem;
  }

  .main {
    width: 87vw;
  }

  .skill {
    grid-template-columns: repeat(4, 1fr) !important;
    column-gap: 2rem !important;
    row-gap: 2.5rem !important;
  }

  .heading {
    font-size: 6rem !important;

    margin-block: 0 !important;
    margin-bottom: 2rem !important;
    text-shadow: 3px 3px 0 hsl(0, 0%, 0%), 6px 6px 0 hsl(0, 0%, 0%),
      9px 9px hsl(0, 0%, 0%);
  }
}

.skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
  font-family: "Jetbrains Mono", monospace;
  margin-block: 1rem;
  width: 100%;
}

.card {
  background-color: hsl(220, 12%, 30%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.touch {
  flex-direction: column;
  padding: 10px 1rem !important;
  cursor: default !important;
  flex-grow: 1 !important;
}

.card:hover .hiddenName {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  flex-grow: 1;
}

.level {
  font-family: "Jetbrains Mono", monospace;
  font-weight: 500;
  font-size: 1.1rem;
}

.image {
  font-size: 7rem;
}

.name {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.altContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addInfo {
  position: relative;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 10px;
}

.addName {
  font-size: 1rem;
  font-family: "Jetbrains Mono", monospace;
  position: absolute;
  color: black;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
  background-color: hsl(220, 12%, 45%);
  padding: 10px;
  border-radius: 10px;
}
