.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.base {
  user-select: none;
  padding: 1rem 0;
}

/* .contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  font-size: 1.4rem;
}

.mail {
  display: flex;
  align-items: center;
  gap: 10px;
} */
