.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}

.base {
  user-select: none;
  padding: 1rem 0;
  /* color: white; */
}

.icon {
  font-size: 2.5rem;
}

.contact {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  /* width: 100%; */
  /* color: white; */
}

.minor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 850px) {
  .icon {
    font-size: 2rem;
  }

  .contact {
    gap: 1rem !important;
  }
}

.qLink {
  border-radius: 50% !important;
  padding: 10px !important;
  min-width: auto !important;
  transition: all 0.3s ease-in-out;
}

.twitter:hover,
.twitter:focus {
  color: hsl(203, 89%, 53%);
}

.insta:hover,
.insta:focus {
  color: hsl(323, 100%, 50%);
}

.github:hover,
.github:focus {
  color: hsl(0, 0%, 1000%);
}

.mail:hover,
.mail:focus {
  color: hsl(5, 88%, 51%);
}

.linkedin:hover,
.linkedin:focus {
  color: hsl(200, 90%, 50%);
}
