/* Query for design Shifting */
@media (max-width: 850px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 850px) {
  .mobile {
    display: none;
  }
}

/* Mobile Design */

.mobile {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 80;
}

.button {
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.span {
  background-color: hsla(0, 0%, 100%);
  width: 40px;
  height: 8px;
  border-radius: 10px;
}

.mMenu {
  position: fixed;
  /* background-color: hsl(0, 0%, 10%); */
  background-color: hsl(222, 12%, 10%);

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
  /* padding: 3rem 2rem; */
  padding: 0.5rem 1rem 1.5rem;
}

.mHeading {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
  /* color: white; */
}

.mItems {
  display: flex;
  /* background-color: hsl(0, 0%, 20%); */
  background-color: hsl(222, 12%, 20%, 0.9);

  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  border-radius: 40px;
  outline: 1px solid black;
  gap: 1rem;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.mTitle {
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 1;
  /* color: white; */
}

.mIcons {
  font-size: 10rem;
  /* color: rgba(0, 0, 0, 0.1); */
  position: absolute;
  z-index: 0;
}

.mItems:nth-child(even) > .mIcons {
  right: 2rem;
  color: hsla(195, 73%, 59%, 0.1);
  /* color: hsl(0, 0%, 70%, 0.2); */
}

.mItems:nth-child(odd) > .mIcons {
  left: 2rem;
  color: hsla(0, 79%, 72%, 0.1);
  /* color: hsl(0, 0%, 70%, 0.2); */
}

/* Desktop Design */

.pannel {
  position: fixed;
  right: 2vw;
  border-radius: 10px;
  width: 9vw;
  height: 90vh;
  top: 5vh;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  /* cursor: pointer; */
  user-select: none;
  background-color: hsl(222, 12%, 20%, 0.9);
  backdrop-filter: blur(2px);
  /* background-color: #161b22; */
  /* outline: 1px solid black; */
  gap: 1rem;
}

.itemSet {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
  /* border-radius: 20px; */
  transition: 0.3s ease-in-out !important;
  /* color: white; */
  color: black;
}

.icons {
  font-size: 3rem;
  flex: 1;
  display: flex;
  justify-content: center;
  /* color: white; */
}

.title {
  position: absolute;
  font-size: 1.3vw;
  font-weight: 600;
  flex: 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: white;
}

.itemSet,
.icons {
  transition: transform 0.4s ease-in-out;
}

.itemSet:hover .icons {
  transform: translateX(-10vw);
}
.itemSet:hover .title {
  transform: translateX(0);
  opacity: 1;
}

.itemSet:hover {
  /* TODO: TEMP */
  background-color: hsl(222, 12%, 34%);
}

.itemSet:active {
  background-color: hsl(222, 12%, 54%);
}
