.intIcon {
  color: black;
  background-color: hsl(0, 0%, 100%);
  outline: 2px solid black;
}

.zeroIcon {
  color: black;
  background-color: hsl(195, 73%, 59%);
}

.finalIcon {
  background-color: hsl(0, 89%, 66%);
  color: black;
}

.date {
  color: white;
}

.timelineNode {
  color: white;
}
